<main class="flex-1 max-content overflow-y-auto">
  <div class="flex flex-col gap-4 md:gap-8">
    <div class="bg-white p-4 md:p-8">
      <div class="container grid items-center justify-center gap-4 text-center">
        <div class="space-y-3">
          <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">Mejores Películas</h1>
          <p
            class="mx-auto max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400">
            La mejor selección de películas para su placer visual.
          </p>
        </div>


        <div class="grid gap-4 w-full sm:grid-cols-2 lg:grid-cols-3">
          <a [routerLink]="'/movie/'+movie.id" *ngFor="let movie of movies" class="rounded-lg border cursor-pointer transform transition-transform hover:scale-105 bg-card text-card-foreground shadow-sm">
            <div class="flex flex-col space-y-1.5 rounded-t-lg relative">
              <img
                [srcset]="imagePath+movie.backdrop_path"
                alt="Movie cover"
                width="300"
                height="450"
                class="aspect-video w-full overflow-hidden rounded-t-lg"
              />
              <app-canva [percentage]="movie?.vote_average!"></app-canva>
<!--              <canvas style="width: 50px; height: 50px;" [id]="movie.id" #canvas class="circle bottom-[-20px] left-0 absolute"></canvas>-->
            </div>
            <div class="p-4 ">
              <div class="grid gap-1.5">
                <p class="text-sm font-medium">{{ movie.title }}</p>
                <p class="text-sm text-gray-500 dark:text-gray-400 uppercase">{{ movie.release_date | yearOnly}} | {{ movie.original_language }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-paginator (onChangePage)="onChangePage($event)" [totalPages]="totalPages" [currentPage]="currentPage"></app-paginator>
  </div>
</main>
