<div class="header large border first" [style]="'background-image: url(' +imagePathFullView+movie?.poster_path +')'">
  <div class="keyboard_s  ">
    <div class="custom_bg">
      <div class="max-content">
        <div class="single_column ">
          <section id="original_header" class="images inner lg:flex">
            <div class="poster_wrapper true xs:mr-auto xs:ml-auto">
              <div class="poster">
                <div class="image_content">
                  <div class="blurred">
                    <img class="poster w-[100%] "
                         [srcset]="imagePath+movie?.backdrop_path"
                         [alt]="movie?.title">

                  </div>
                </div>

              </div>

            </div>

            <div class="header_poster_wrapper relative">
              <section class="header pl-8 poster">
                <div class="title ott_true" dir="auto">

                  <h2 class="8">
                    <a href="/movie/601796-1">{{ movie?.title }}</a>
                    <span class="tag release_date">({{ movie?.release_date! | yearOnly }})</span>
                  </h2>

                  <div class="facts">
                <span class="certification">
                  12
                </span>
                    <span class="release">
                  {{movie?.release_date}} (KR)
                </span>
                    <span class="genres">
                  <a *ngFor="let genre of movie?.genres;  let last = last" href="/genre/878-science-fiction/movie">
                    {{ genre.name }}<ng-container *ngIf="!last">, </ng-container>
                  </a>&nbsp;
                </span>
                    <span class="runtime">
                  {{ runTime(movie?.runtime!)}}
                </span>
                  </div>
                </div>
                <div class="header_info">
                  <h3 class="tagline" dir="auto">
                    {{ movie?.tagline }}
                  </h3>
                  <app-canva classPosition="top-0 right-0" [percentage]="movie?.vote_average!"></app-canva>
                  <h3 dir="auto">Descripción</h3>
                  <div class="overview" dir="auto">
                    <p>
                      {{ movie?.overview }}
                    </p>
                  </div>

                  <ol class="people no_image">
                    <li class="profile">
                      <p><a href="/person/119337-choi-dong-hoon">{{ director }}</a></p>
                      <p class="character">Director, Escritor</p>
                    </li>
                    <li *ngIf="writer" class="profile">
                      <p><a href="/person/1293791-lee-ki-cheol">{{ writer }}</a></p>
                      <p class="character">Escritor</p>
                    </li>
                  </ol>
                </div>
              </section>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex max-content flex-col">
  <main class="flex-1 overflow-y-auto">
    <div class="flex flex-col gap-4 md:gap-8">
      <div class="bg-white p-4 md:p-8 flex">
        <div class="container w-calc(100vw - 80px - 268px) grid items-center pr-4 col white_column text-center">
          <section class="panel top_billed scroller pb-5">
            <h3 dir="auto"><strong>Elenco Más Facturado</strong></h3>

            <div id="cast_scroller" class="scroller_wrap should_fade is_fading">
              <ol class="people overflow-x-scroll scroller">
                <li class="border rounded-lg shadow m-3 min-w-[140px] w-[140px]" *ngFor="let people of cast">
                  <a href="#">
                    <div class="glyphicons_v2 picture grey profile no_image_holder two">
                      <img loading="lazy" class="profile rounded-t-lg w-[100%]"
                           [srcset]="imagePathCats+people.profile_path"
                           [alt]="people.name">
                    </div>
                  </a>

                  <p>
                    <a href="#">
                      <strong>{{ people.name }}</strong>
                    </a>
                  </p>
                  <p class="character">{{ people.character }}</p>
                </li>
              </ol>
              <div class="style_wrapper"></div>
            </div>
          </section>
          <app-media class="panel top_billed scroller pt-5" [logos]="logos" [posters]="posters" [backdrops]="backdrops"></app-media>
        </div>
        <div class="w-3/12">
          <p>
            <strong class="block">Título Original</strong>
            {{ movie?.original_title }}
          </p>
          <p>
            <strong class="block">Estado</strong>
            {{movie?.status}}
          </p>
          <p>
            <strong class="block">Lenguaje Original</strong>
            {{ movie?.original_language}}
          </p>
          <p>
            <strong class="block">Presupuesto</strong>
            {{movie?.budget! | dolars }}
          </p>
          <p>
            <strong class="block">Recaudo</strong>
            {{movie?.revenue! | dolars }}
          </p>
          <div class="mt-5">
            <h3>
              <strong>
                KeyWords
              </strong>
              <ul class="flex mt-1 flex-wrap justify-start">
                <li class="p-1 mr-1 mb-1 bg-gray-100 rounded-lg" *ngFor="let keyWord of keyWords">
                  {{ keyWord.name }}
                </li>
              </ul>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
